.empty-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 40px;
}

.empty-image {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.empty-text {
  font-size: 28px;
  color: #999;
}
